body {
    /*font-family: Roboto, Arial, sans-serif;*/

    font-family: Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", SimSun, "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
}

a,
a:hover {
    color: #434343;
    text-decoration: underline;
}

.btn-link, .btn-link:hover {
    color: #434343;
}
